*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

.main_container{
    max-width: 1920px;
    display: block;    
}

.main_page{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-self: center;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 10%; 

}

.Header_link_Home{
    color: orangered;
    text-decoration: none;
}

.Header_link{
    color: rgb(143, 139, 145);;
    text-decoration: none;
}

.main_image{
    width: 50%;
    background-image: url(images/home-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_block{
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-color: #f0e2d7;
    display: flex;
    padding: 50px;
    box-sizing: border-box;
}

.main_block_content{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    box-sizing: border-box;
    padding-top: 50px;
}

.block1_text1{
    font-size: 50px;
    color: rgba(41, 40, 41, 0.904);
    margin-top: 30px;
    margin-bottom: 30px;
}

.block1_text2{
    font-size: 20px;
    color: rgb(143, 139, 145);
    line-height: 30px;
}

.main_block .block1_Get_Started{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid;
    background-color: rgba(253, 254, 255, 0);
    margin-top: 40px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}

.second_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.second_page_block1{
    width: 50%;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 45px;
}

.second_page_block1_page_heading{
    font-size: 50px;
    color: rgba(41, 40, 41, 0.904);
    margin-bottom: 10px;
}

.second_page_block1_page_heading2{
    font-size: 20px;
    color: #e4ae58;
    padding-bottom: 30px;
}

.second_page_text3{
    font-size: 19px;
    color: rgb(143, 139, 145);
    margin-bottom: 20px;
    word-wrap: break-word;
}

.second_page_block2{
    width: 25%;
    background-image: url(images/about-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.second_page_block3{
    width: 25%;   
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 45px;
}

.page_heading{
    font-size: 45px;
    padding-bottom: 15px;
}

.page_heading2{
    font-size: 20px;
    padding-bottom: 20px;
}

.name_lines_progress{
    display: flex;
    justify-content: space-between; 
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
}

.lines_progress{
    display: flex;
    padding-top: 5px;
}

.lines_progress1_1{
    width: 90%;
    height: 3px;
    background-color: #161616;
}
.lines_progress2_1{
    width: 70%;
    height: 3px;
    background-color: #161616;
}

.lines_progress3_1{
    width: 80%;
    height: 3px;
    background-color: #161616;
}

.lines_progress1_2{
    width: 10%;
    height: 3px;
    background-color: aliceblue;
}
.lines_progress2_2{
    width: 30%;
    height: 3px;
    background-color: aliceblue;
}

.lines_progress3_2{
    width: 20%;
    height: 3px;
    background-color: aliceblue;
}


.name_progress_black{
    color: #161616;
    font-size: 18px;
    font-weight: bold;
}

.third_page{
    width: 100%;
    display: flex;
    flex-direction: row; 
    color: white;  
}

.third_page_heading{
    font-size: 35px;
    padding-bottom: 20px;
}

.third_page_block1{
    width: 25%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
}

.third_page_block4{
    width: 25%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
}

.third_page_icon{
    font-size: 50px;
    margin-bottom: 10%;   
    margin-top: 30px;
}

.fourht_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white; 
}

.fourht_page_block1{
    width: 50%;
    background-image: url(images/experience-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fourht_page_block2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 50px;
}

.fourht_page_icon{
    font-size: 30px;
}

.content2{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 30px;
}

.content2_text{
    display: inline;
    margin-left: 25px;
}

.fourht_page_content_text1{
    font-size: 30px;    
}

.fourht_page_content_data{
    font-size: 15px;
    color: #833b2d;
    font-weight: bold;
}

.five_page{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white; 
}

.five_page_block2{
    width: 50%;
    background-image: url(images/education-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.six_page{
    width: 100%;
    background: rgba(73, 71, 71, 0.952) url(images/quotes-bg.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    padding: 5%;
    text-align: center;
}

.six_page_text1{
    width: 65%;
    font-size: 40px;
    color: white;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 350;
}

.six_page_text2{
    color: rgb(133, 131, 131);
    font-size: 20px;
}

.six_page .icon{
    font-size: 40px;
    color: white;
    position: relative;
}
.seven_page{
    width: 100%;
    display: flex;
    flex-direction: row; 
}

.seven_page_block1{
    width: 50%;
    padding-left: 2%;
    padding-right: 3%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    color: white;
    box-sizing: border-box;
    padding: 40px;
}

.seven_page_block1_input{
    width: 100%;
    height: 30px;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid white;
    font-size: 15px;
}

.seven_page_block1_input::placeholder{
    color: white;
}

.seven_page_block1_line{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 15%;
    margin-bottom: 3%;
}

.seven_page_block1_input_button{
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.seven_page_block2{
    width: 25%;
    background-image: url(images/contact-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.seven_page_block3{
    width: 25%;
    background-color: rgb(15, 15, 15);
    color: white;
    box-sizing: border-box;
    padding: 40px;
}

.seven_page_block3_header{
    font-size: 40px;
}

.seven_page_block3_header2{
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(141, 138, 138, 0.815);
}

.contact{
    margin-top: 30px;
}

.contact_link{
    color: orangered;
    text-decoration: none;
}

.icon_contact{
    margin-right: 20px;
    margin-bottom: 15px;
    color: rgba(141, 138, 138, 0.815);
}

.phone{
    color: rgba(141, 138, 138, 0.815); 
}

.yellow_block{
    background-color: #e4ae58;
    background-repeat: no-repeat;
    background-position: center;
}

.orange_block{
    background-color: #e9714c;
}

.link{
    text-decoration: none;
    color: rgba(53, 52, 52, 0.938);
}

.eight_page{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: rgba(53, 52, 52, 0.938);
    text-align: center;
}

.eight_page_icon{
    padding: 30px;
    font-size: 30px;
}
